.app {
  font-size: 1.2em;
  background-color: #f7cac9;
}

$headline: #36486b;
$line_color: #CCCDCC;
$table_bg_color: #36486b;
$table_font_color: #f0f0f0;
$font_family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
$font_weight: 100;

#list {
	height: 600px;
	width: 800px;
	overflow: scroll;
	margin: auto;
	text-align: center;
	align-self: center;
}


h1 {
  color: $headline;
  font-family: $font_family;
  font-weight: $font_weight;
  text-align: center;
}

table {
	margin: 10px auto;
	border-radius: 3.5px;
	/*box-shadow: 10px 10px 5px #303030;*/
	border: 3px solid $line_color;


	
  * {
    border: $line_color 1px;
    border-radius: 3.5px;
    background-color: $table_bg_color;
    color: $table_font_color;
    font-family: $font_family;
    font-weight: lighter;

    /*height: 600px;*/
    /*overflow: auto;*/
  }
}










