.app {
	height: 100vh;
  font-size: 1.2em;
  background: linear-gradient(to left, #f7cac9, white);
}

$main_color: #37474F;
$table_font_color: #f0f0f0;
$font_family: "Avenir Next"; 
$font_weight: lighter;

h1 {
  color: $main_color;
  font-size: 70px;
  font-family: $font_family;
  font-weight: $font_weight;
  text-align: center;
  margin: 0;
}

#list {
  height: 600px;
  overflow: scroll;
}

#container {
  width: 800px;
  margin: 0 auto;
}

th {
  margin: auto;
  width: 200px;
  height: 40px;
  font-family: $font_family;
  font-weight: $font_weight;
}

td {
  width: 200px;
  overflow: hidden;
  max-width: 200px;
  text-align: center;
  font-family: $font_family;
  font-weight: $font_weight;
}

.traits { 
  display: grid;
}

.table {
	margin: 10px auto;
	border-radius: 3.5px;
  background-color: $main_color;
  color: $table_font_color;
	
  * :hover {
    border-radius: 3.5px;
    background-color: white;
    color: $main_color;
    font-family: $font_family;
    font-weight: $font_weight;
  }
}

.topRow {
  margin: 10px auto;
  border-radius: 3.5px;
  background-color: $main_color;
  color: $table_font_color;
}

