.app {
	height: 100vh;
  	font-size: 1.2em;
  	/*background-color: #f7cac9;*/
  	background: linear-gradient(to left, #f7cac9, white);
}

$headline: #37474F;
$line_color: #CCCDCC;
$table_bg_color: #37474F;
$table_font_color: #f0f0f0;
$font_family: "Avenir Next"; 
$font_weight: 100;


h1 {
  color: $headline;
  font-family: $font_family;
  font-weight: $font_weight;
  text-align: center;
  margin: 0;
}

#list {
  height: 600px;
  overflow: scroll;
}

#container {
  width: 800px;
  margin: 0 auto;
}

th {
  margin: auto;
  width: 200px;
  height: 40px;
}

td {
  width: 200px;
  overflow: hidden;
  max-width: 200px;
  text-align: center;
}

.traits {
  display: grid;
}


table {
	margin: 10px auto;
	border-radius: 3.5px;
	
  * {
    border-radius: 3.5px;
    background-color: $table_bg_color;
    color: $table_font_color;
    font-family: $font_family;
    font-weight: lighter;
  }
}










